* {
  font-family: "Euclid Circular A", sans-serif;
  font-weight: 400;
  line-height: 130%;
  font-size: 16px;
  color: var(--font_color);
}

html,
body {
  display: block;
  margin: 0px;
  overflow-x: hidden;
}

.section_colored_bg {
  background-color: var(--bg_color);
  background-repeat: repeat-x;
}
.global_padding_wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding-inline: 60px;
}
@media screen and (max-width: 850px) {
  .global_padding_wrapper {
    padding-inline: 16px;
  }
}
