#advantages > .cards {
  margin-top: -70px;
  z-index: 20000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}

#advantages > .cards > .card {
  display: flex;
  flex-direction: row;
  position: relative;

  padding: 20px;
  width: 220px;
  font-size: 16px;
  color: var(--font_color--ligh);

  background-color: #ffffff;
  box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 950px) {
  #advantages > .cards {
    margin-top: -80px;
  }
  #advantages > .cards > .card {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
  }
  #advantages > .cards > .card > div {
    font-size: 14px;
  }
}
@media screen and (max-width: 950px){
  #advantages {
    background-color: var(--bg_color);
    margin-inline: -200px;
    padding-inline: 200px;
    padding-bottom: 60px;
  }
  #advantages > .cards {
    padding-top: 150px;
    margin-inline: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  #advantages > .cards > .card {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: -20px;
    padding: 20px;
    margin: 10px 10px;
    height: 100px;
  }
  #advantages > * [data-type="icon"] {
    position: absolute;
    top: -10px;
  }
  #advantages > .cards > .card > div {
    font-size: 14px;
  }
}
@media screen and (max-width: 620px) {
  #advantages {
    padding-inline: 140px;
  }
  #advantages > .cards {
    padding-top: 120px;
    margin-inline: auto;

    width: 100%;
    justify-content: center;
  }
  #advantages > .cards > .card {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: -20px;
    padding: 15px;
    height: 100px;
    width: 33vw;
  }
  #advantages > * [data-type="icon"] {
    position: absolute;
    top: -10px;
  }
  #advantages > .cards > .card > div {
    font-size: 12px;
  }
}
