/**
* ЗАГОЛОВОК
**/

.key_products__header {
  margin-top: 118px;
  margin-inline: auto;
  display: block;
}
.key_products__header,
.key_products__header > span {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
}

@media screen and (max-width: 950px) and (min-width: 620px) {
  .key_products__header {
    margin-top: 60px;
  }
}
@media screen and (max-width: 620px) {
  .key_products__header,
  .key_products__header > span {
    margin-top: 90px;
  }
  .key_products__header,
  .key_products__header > span {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
}

/** 
* КАРТОЧКИ - LAYOUT
**/

.key_products__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/** 
* КАРТОЧКИ - SINGLE
**/

.key_products__card {
  display: flex;
  align-items: stretch;
  padding-inline: 20px;
 
  width: 45%;
  max-width: 600px;
  box-sizing: border-box;

  background-color: #e9f6ff;
  border-radius: 30px;
}

.key_products__card h3 {
  margin-top: 37px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
}
.key_products__card p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 140%;
}
.key_products__card div:has(picture) {
  display: flex;
  padding-top: 20px;
  /* width: 50%; */
  flex-direction: column;
  justify-content: flex-end;
}
.key_products__card picture {
  line-height: 0;
  padding-left: 10px;
}



@media screen and (max-width: 1090px) {
  .key_products__card {
    width: 90%;
    max-width: 500px;
  }
  .key_products__card h3 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 620px) {
  .key_products__card h3 {
    font-size: 14px;
  }
  .key_products__card p {
    font-size: 12px;
  }
}
