.set_lang {
  display: block;
  padding-top: 30px;
  width: 100%;
  text-align: right;
}


.lang_option {
  display: inline-block;
  margin-left: 11px;
  padding: 4px;
}
.lang_option.active {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: var(--accent_color);
}
